@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", "Noto Sans TC", "微軟正黑體", sans-serif;
  word-break: break-word;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
}

h1 {
  font-size: 36px;
  color: #000000;
}

h2 {
  font-size: 28px;
  color: #000000;
}

h3 {
  font-size: 24px;
  color: #1d1d1d;
}

h4 {
  font-size: 20px;
  color: #1d1d1d;
}

h5 {
  font-size: 18px;
  color: #727272;
}

h6 {
  font-size: 14px;
  color: #BBBBBB;
  font-weight: 300;
}

p {
  font-size: 16px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 26px;
}

a {
  color: #1d1d1d;
}
a:hover {
  text-decoration: none !important;
  color: #836fff;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  padding-left: 10px;
  border-left: 5px solid #BBBBBB;
}

textarea {
  resize: none;
}

.container {
  width: 1000px;
}

.containerForm {
  width: 100%;
}

/*spacing*/
.px-96px {
  padding-left: 96px !important;
  padding-right: 96px !important;
}

.py-36px {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.pdlr10 {
  padding: 0 10px;
}

.r-10 {
  right: 10px !important;
}

/*templete*/
.modal-content-basic-white {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
}

/*幻燈片*/
#slider .swiper {
  width: 100%;
  height: 100%;
}
#slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#slider .swiper-slide .mbbanner {
  display: none;
}
#slider .swiper-slide .mbbanner img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#slider .swiper-button-next, #slider .swiper-button-prev {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
#slider .swiper-button-next:hover, #slider .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#slider .swiper-button-next:after, #slider .swiper-button-prev:after {
  font-size: 28px;
}
#slider .swiper-button-next {
  right: 20px;
}
#slider .swiper-button-next:after {
  position: absolute;
  right: 30%;
}
#slider .swiper-button-prev {
  left: 20px;
}
#slider .swiper-button-prev:after {
  position: absolute;
  left: 30%;
}
#slider .swiper-pagination-bullet-active {
  background-color: #fff;
}

/*九大分類置頂選單*/
#categorysection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F5F5F5;
}

.category-social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #1d1d1d;
  padding: 12px 24px;
}
.category-social-btn img {
  width: 24px;
  height: 24px;
}
.category-social-btn .category-social-btn-text {
  margin-left: 8px;
  color: #FFF;
}

#categorybar {
  background: #F5F5F5;
  padding: 10px 0px;
  overflow-x: auto;
}
#categorybar > div {
  width: 900px;
  margin: 0 auto;
}
#categorybar a {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1d;
}
#categorybar a:hover {
  color: #836fff;
}
#categorybar a:not(:first-child):before {
  position: absolute;
  left: 0;
  top: 1px;
  content: "|";
  font-size: 13.5px;
}

/*精選頻道文章幻燈片*/
#youtubepost {
  position: relative;
}
#youtubepost .swiper {
  width: 100%;
  height: 100%;
}
#youtubepost .swiper-slide {
  font-size: 18px;
  padding-right: 5px;
  /* Center slide text vertically*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#youtubepost .swiper-slide .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#youtubepost .swiper-button-next, #youtubepost .swiper-button-prev {
  color: #1d1d1d;
}
#youtubepost .swiper-button-next:hover, #youtubepost .swiper-button-prev:hover {
  color: #836fff;
}
#youtubepost .swiper-button-next:after, #youtubepost .swiper-button-prev:after {
  font-size: 32px;
}
#youtubepost .swiper-button-next {
  right: -60px;
}
#youtubepost .swiper-button-prev {
  left: -60px;
}

/*九大分類區塊*/
.categoryBlock, .categoryListBlock {
  margin-top: 50px;
}

/*九大分類標題區塊*/
.categoryTitleBlock {
  padding: 0 10px;
}

.categoryTitle {
  font-family: "Noto Serif TC";
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  line-height: 0.9;
  letter-spacing: 2px;
  display: inline-block;
  border-right: 1px solid #1d1d1d;
  padding: 0px 10px 1px 0px;
  margin: 0px 10px 20px 0px;
}

.categorySubTitle {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #727272;
  line-height: 1;
}

/*文章卡片區塊*/
.postCard-first, .postCard-other, .postCard-collection {
  padding: 0 10px;
  margin-bottom: 30px;
}

#youtubepost {
  height: 100%;
}

.youtubecontainer {
  padding: 0 10px;
  height: 100%;
}

.postCard-youtube {
  height: 100%;
  margin-bottom: 30px;
  width: 100%;
}
.postCard-youtube .postCard {
  height: 340px;
}
.postCard-youtube .postCard300 {
  height: 300px;
}
.postCard-youtube .postCard, .postCard-youtube .postCard300 {
  position: relative;
}
.postCard-youtube .postCard:hover, .postCard-youtube .postCard300:hover {
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.postCard-youtube .postCard .postImage, .postCard-youtube .postCard300 .postImage {
  height: 200px;
}
.postCard-youtube .postCard .postImage150, .postCard-youtube .postCard300 .postImage150 {
  height: 150px;
}

.postCard {
  height: 100%;
  position: relative;
  cursor: pointer;
}
.postCard:hover {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.postCardh3 {
  height: 330px;
}

.postCardh4 {
  height: 430px;
  position: relative;
}

.postCardh5 {
  height: 590px;
  position: relative;
}

.postImage {
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.postImage:hover {
  border-radius: 10px 10px 0 0;
}

.postImage150 {
  height: 150px;
}

.postImage200 {
  height: 200px;
}

.postImage450 {
  height: 450px;
}

.postImage400 {
  height: 400px;
}

.postImage500 {
  height: 500px;
}

.postCard-mb10 {
  margin-bottom: 10px;
}

#posts > .container:not(:first-child) {
  margin-top: 50px;
}

.postCollectionRounded {
  border-radius: 0.25rem 0.25rem 0 0;
}
.postCollectionRounded:hover {
  border-radius: 0.25rem 0.25rem 0 0;
}

/*文章標題區塊*/
.postTitle, .postTitle-first {
  font-family: "Noto Serif TC";
  font-size: 16px;
  font-weight: 700;
  color: #1d1d1d;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 10px 0 10px 0;
  text-overflow: ellipsis;
  -moz-text-align-last: left;
       text-align-last: left;
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.ellipsis1 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.ellipsis4 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.metaBlock {
  position: absolute;
  bottom: 0;
}

.meta {
  font-size: 14px;
  font-weight: 300;
  color: #BBBBBB;
  letter-spacing: 1.2;
  display: inline-block;
  padding: 0px 10px 0px 0px;
  margin-bottom: 20px;
  height: 14px;
}

.metacategory {
  border-left: 1px solid #BBBBBB;
  padding: 0 0 0 10px;
}

.saveBlock {
  position: absolute;
  right: 10px;
  bottom: 18px;
}

.saveIcon {
  width: 17px;
  height: 17px;
  background-image: url(../img/saveFullIcon.svg);
  background-size: contain;
}

.unsavedIcon {
  width: 17px;
  height: 17px;
  background-image: url(../img/saveOutlineIcon.svg);
  background-size: contain;
}

.postCard-collection .saveBlock {
  right: 10px;
}

/*文章內頁*/
.postContentTitle {
  font-family: "Noto Serif TC";
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  line-height: 1.3;
  letter-spacing: 1px;
  left: 100%;
}

.postCard-content {
  padding: 30px 10px 0;
}

.postContentImage {
  margin: 0 0 15px;
}
.postContentImage img {
  width: 100%;
}

.postContentTitleBlock {
  margin: 0 0 10px;
}

/*互動按鈕*/
.postContentInteractive {
  margin-bottom: 30px;
  text-align: right;
}

.likeButton, .commentButton, .saveButton, .shareButton {
  color: #1d1d1d;
  font-size: 16px;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.likeButton span, .commentButton span, .saveButton span, .shareButton span {
  margin-left: 10px;
  color: #727272;
}
.likeButton:before, .commentButton:before, .saveButton:before, .shareButton:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 13px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}
.likeButton:hover, .commentButton:hover, .saveButton:hover, .shareButton:hover {
  border: 1px solid #1d1d1d;
}
.likeButton:hover span, .commentButton:hover span, .saveButton:hover span, .shareButton:hover span {
  color: #1d1d1d;
}
.likeButton:active, .commentButton:active, .saveButton:active, .shareButton:active {
  color: #FFF;
  background-color: #1d1d1d;
}
.likeButton:active span, .commentButton:active span, .saveButton:active span, .shareButton:active span {
  color: #FFF;
}
.likeButton:first-child, .commentButton:first-child, .saveButton:first-child, .shareButton:first-child {
  margin-left: 0px;
}
.likeButton:last-child, .commentButton:last-child, .saveButton:last-child, .shareButton:last-child {
  margin-right: 0px;
}

.likeButton:before {
  background-image: url(../img/likeIcon.svg);
}
.likeButton:hover:before {
  background-image: url(../img/likeHoverIcon.svg);
}
.likeButton:active:before {
  background-image: url(../img/likeClickIcon.svg);
}

.commentButton:before {
  background-image: url(../img/commentIcon.svg);
}
.commentButton:hover:before {
  background-image: url(../img/commentHoverIcon.svg);
}
.commentButton:active:before {
  background-image: url(../img/commentClickIcon.svg);
}

.saveButton:before {
  background-image: url(../img/saveIcon.svg);
}
.saveButton:hover:before {
  background-image: url(../img/saveHoverIcon.svg);
}
.saveButton:active:before {
  background-image: url(../img/saveClickIcon.svg);
}

.shareButton:before {
  background-image: url(../img/shareIcon.svg);
}
.shareButton:hover:before {
  background-image: url(../img/shareHoverIcon.svg);
}
.shareButton:active:before {
  background-image: url(../img/shareClickIcon.svg);
}

.likeButtonClick, .saveButtonClick, .commentButtonClick {
  background-color: #1d1d1d;
  border: 1px solid #1d1d1d;
  color: #fff;
}
.likeButtonClick span, .saveButtonClick span, .commentButtonClick span {
  color: #FFF;
}
.likeButtonClick:hover:before, .saveButtonClick:hover:before, .commentButtonClick:hover:before {
  background-image: url(../img/likeClickIcon.svg);
}
.likeButtonClick:hover span, .saveButtonClick:hover span, .commentButtonClick:hover span {
  color: #FFF;
}
.likeButtonClick:before, .saveButtonClick:before, .commentButtonClick:before {
  background-image: url(../img/likeClickIcon.svg);
}

.commentButtonClick:hover:before {
  background-image: url(../img/commentClickIcon.svg);
}
.commentButtonClick:before {
  background-image: url(../img/commentClickIcon.svg);
}

.saveButtonClick:hover:before {
  background-image: url(../img/saveClickIcon.svg);
}
.saveButtonClick:before {
  background-image: url(../img/saveClickIcon.svg);
}

/*編輯器字體設定*/
.postContentEditor {
  margin-bottom: 30px;
}
.postContentEditor h2, .postContentEditor h3, .postContentEditor h4, .postContentEditor h5, .postContentEditor p, .postContentEditor span {
  color: #424242;
  font-family: Tahoma;
}
.postContentEditor h4, .postContentEditor h5 {
  font-weight: 700;
}
.postContentEditor h6 {
  font-size: 12px;
  color: #cec6ce;
  font-family: Tahoma;
}
.postContentEditor p {
  margin-bottom: 5px;
}

/*社群分享*/
#shareModal, #memberInvite, .shareModal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
}
#shareModal .modal-content, #memberInvite .modal-content, .shareModal .modal-content {
  padding: 20px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.16);
}
#shareModal .modal-body, #memberInvite .modal-body, .shareModal .modal-body {
  text-align: left;
  padding: 15px 0;
}
#shareModal .modal-header, #memberInvite .modal-header, .shareModal .modal-header {
  padding: 5px 0;
}
#shareModal .modalSubTitle, #memberInvite .modalSubTitle, .shareModal .modalSubTitle {
  font-size: 18px;
}
#shareModal .shareCloseBtn, #shareModal .memberInviteCloseBtn, #memberInvite .shareCloseBtn, #memberInvite .memberInviteCloseBtn, .shareModal .shareCloseBtn, .shareModal .memberInviteCloseBtn {
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/closeIcon.svg);
  display: block;
  margin-top: 10px;
}
#shareModal .facebookShareBtn, #shareModal .lineShareBtn, #memberInvite .facebookShareBtn, #memberInvite .lineShareBtn, .shareModal .facebookShareBtn, .shareModal .lineShareBtn {
  display: inline-block;
  text-align: left;
  height: 50px;
  width: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/facebookShareIcon.png);
}
#shareModal .facebookShareBtn:hover, #shareModal .lineShareBtn:hover, #memberInvite .facebookShareBtn:hover, #memberInvite .lineShareBtn:hover, .shareModal .facebookShareBtn:hover, .shareModal .lineShareBtn:hover {
  background-image: url(../img/facebookShareHoverIcon.png);
}
#shareModal .lineShareBtn, #memberInvite .lineShareBtn, .shareModal .lineShareBtn {
  margin-left: 10px;
  background-image: url(../img/lineShareIcon.png);
}
#shareModal .lineShareBtn:hover, #memberInvite .lineShareBtn:hover, .shareModal .lineShareBtn:hover {
  background-image: url(../img/lineShareHoverIcon.png);
}
#shareModal .copyLink, #memberInvite .copyLink, .shareModal .copyLink {
  padding: 5px 20px;
  border: 1px solid #8CCCCC;
  border-radius: 5px;
  width: 80%;
}
#shareModal .copyLinkBtn, #memberInvite .copyLinkBtn, .shareModal .copyLinkBtn {
  padding: 5px 20px;
  background-color: #1d1d1d;
  color: #FFF;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  -webkit-appearance: none;
}

.content-copy-link-complete-img {
  height: 80px;
  width: 80px;
}

.content-copy-link-complete-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}

/*作者區塊*/
.postAuthorBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 30px 50px;
  margin-top: 30px;
  border: 1px solid #836fff;
  border-radius: 10px;
}

.postYoutubeAuthorBlock {
  margin-top: 0px;
}

.postAuthorImageBlock {
  -webkit-box-flex: 30%;
  -ms-flex: 30%;
  flex: 30%;
}

.postAuthorImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 190px;
  height: 190px;
  border-radius: 100%;
}

.postAuthorContent {
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
  margin-left: 30px;
}

.postAuthorTitle {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

.postAuthorName {
  font-size: 28px;
  font-weight: 400;
  color: #836fff;
}

.postAuthorIntor {
  text-overflow: ellipsis;
  margin-bottom: 0;
}

/*延伸閱讀區塊*/
.readAroundBlock {
  margin-top: 30px;
}

.readAroundTitle {
  font-size: 18px;
  color: #836fff;
}

.readAroundPost ul {
  padding-left: 0;
}

.readAroundPostTitle {
  list-style: none;
  font-family: "Noto Serif TC";
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1d;
  line-height: 1.5;
  letter-spacing: 1.5px;
  margin: 5px 0;
  text-overflow: ellipsis;
}
.readAroundPostTitle:hover {
  color: #836fff;
}
.readAroundPostTitle:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: #836fff;
  margin-right: 10px;
}

/*文章標籤*/
.postTag {
  margin-top: 30px;
}
.postTag ul {
  padding-left: 0;
}

.postTagTilte {
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 4px 16px;
  color: #1d1d1d;
  border: 1px solid #1d1d1d;
  border-radius: 6px;
}
.postTagTilte:hover {
  color: #FFF;
  background-color: #1d1d1d;
}

/*留言區塊*/
.commentSection {
  margin-bottom: 30px;
  position: relative;
}

.commentTilte {
  font-size: 18px;
}

.commentImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/navbar/MemberLoginIcon.svg);
  background-color: #727272;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  position: relative;
  z-index: 200;
}

.commentLine {
  height: 100%;
}
.commentLine:before {
  content: "";
  display: block;
  position: absolute;
  height: calc(100% - 90px);
  border-left: 1px solid #BBBBBB;
  left: 40px;
  top: 100px;
  z-index: 10;
}
.commentLine:last-child:before {
  border-left: 0px solid #BBBBBB;
}

.commentUser {
  margin-left: 15px;
  width: calc(100% - 80px);
}

.commentAuthorName {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 24px;
}

.commentContent {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.commentTime {
  font-size: 14px;
}

.commentReply {
  cursor: pointer;
  margin-left: 5px;
  font-weight: 400;
}
.commentReply:hover {
  color: #1d1d1d;
}

.commentReplySections .commentReplySection {
  position: relative;
  margin-top: 20px;
  border-bottom: 1px solid #BBBBBB;
}
.commentReplySections .commentReplySection:first-child {
  margin-top: 30px;
}
.commentReplySections .commentReplySection:last-child {
  border-bottom: 0px solid #BBBBBB;
}
.commentReplySections .commentReplySection:last-child .commentTime {
  padding-bottom: 0px;
}

.commentReplySection .commentImage {
  height: 60px;
  width: 60px;
}
.commentReplySection .commentAuthorName {
  font-size: 20px;
}
.commentReplySection .commentTime {
  padding-bottom: 20px;
}

.commentbtn {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 5px 0;
  color: #000000;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: relative;
  margin-top: 20px;
  padding: 0;
}
.commentbtn:before, .commentbtn:after {
  position: absolute;
  top: 50%;
  content: "";
  display: inline-block;
  height: 1px;
  background-color: #BBBBBB;
  width: 43%;
}
.commentbtn:hover {
  color: #836fff;
}
.commentbtn:before {
  left: 0px;
}
.commentbtn:after {
  right: 0px;
}

.commentEdit {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
.commentEdit:hover {
  color: #1d1d1d;
}

.commentEditBlock {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  position: absolute;
  width: 100px;
  right: 0px;
  top: 20px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.commentEditBlock h6 {
  cursor: pointer;
  color: #1d1d1d;
  padding: 10px 20px;
  margin-bottom: 0;
  font-weight: 400;
}
.commentEditBlock h6:first-child {
  border-bottom: 1px solid #BBBBBB;
}
.commentEditBlock h6:hover {
  background-color: #F5F5F5;
}

.commentFormControl {
  margin-top: 15px;
}
.commentFormControl:focus {
  border-color: #1d1d1d;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.btnEdit {
  margin-top: 8px;
  background-color: #1d1d1d;
  padding: 5px 20px;
}
.btnEdit:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/*查看更多按鈕*/
.postbtn {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 5px 0;
  color: #000000;
  letter-spacing: 1.5px;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: relative;
  margin: 0;
  padding: 0;
}
.postbtn:hover {
  color: #836fff;
}
.postbtn:before {
  position: absolute;
  left: -5px;
  top: 50%;
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: #BBBBBB;
}
.postbtn:after {
  position: absolute;
  left: -5px;
  top: 50%;
  content: "";
  display: inline-block;
  width: 45%;
  height: 1px;
  background-color: #BBBBBB;
  right: -5px;
  top: 50%;
  left: auto;
}

/*廣告區塊*/
.advertiseBlock {
  background-color: #F5F5F5;
  padding: 20px 0;
  margin-top: 50px;
}
.advertiseBlock .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.advertiseBlock .container img {
  max-width: 500px;
}

.mt0 {
  margin-top: 0;
}

.postAdvertiseBlock {
  height: 100%;
}
.postAdvertiseBlock .postAdvertise {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100% - 30px);
}

.postAdvertiseImage img {
  width: 100%;
}
.postAdvertiseImage img:hover {
  border-radius: 10px;
}

.postAdvertiseBlock .couponAdvertise {
  height: calc(100% - 15px);
}

/*關於我們*/
#aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 40px 15px;
  margin-top: 50px;
  background-image: url(../img/aboutusbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#aboutus:after {
  height: 100%;
  width: 100%;
  content: "";
  display: blcok;
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}
#aboutus .logo, #aboutus .content, #aboutus .aboutusTitle {
  position: relative;
  z-index: 101;
}
#aboutus .logo h2, #aboutus .content h2, #aboutus .aboutusTitle h2 {
  font-size: 36px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 15px;
}
#aboutus .logo img, #aboutus .content img, #aboutus .aboutusTitle img {
  margin-bottom: 30px;
}
#aboutus .logo p, #aboutus .content p, #aboutus .aboutusTitle p {
  color: #FFF;
  margin-bottom: 0;
}

/*表單*/
.formBlock {
  background-color: #E5E5E5;
  padding: 80px 0 120px;
}

.formContent {
  width: 500px;
  padding: 0 50px 15px;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.KeepLogin {
  margin-top: -5px;
}

.loginBlock button.btn, .registerBlock button.btn, .passwordForgotBlock button.btn {
  width: 100%;
  background-color: #1d1d1d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginBlock button.btn:hover, .registerBlock button.btn:hover, .passwordForgotBlock button.btn:hover {
  background-color: #000000;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.facebookLogin, .instagramLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
  height: 36px;
  border-radius: 5px;
  color: #FFF;
  background-color: #3D6AD6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.facebookLogin:before, .instagramLogin:before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 23px;
  width: 23px;
  left: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/FacebookLogin.svg);
}

.facebookLogin:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.instagramLogin {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.instagramLogin:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.instagramLogin:before {
  background-image: url(../img/InstagramLogin.svg);
}

.loginOther .container.containerForm .forgotPassWord, .loginOther .container.containerForm .register {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-top: 40px;
  display: block;
}
.loginOther .container.containerForm .forgotPassWord:hover, .loginOther .container.containerForm .register:hover {
  color: #1d1d1d;
}

/*搜尋頁面*/
.searchTitle {
  font-family: "Noto Serif TC";
  text-align: center;
  margin-bottom: 20px;
}

.searchFailBlock {
  text-align: center;
}
.searchFailBlock .searchFailEng {
  font-size: 160px;
  font-weight: 400;
  margin: 80px 0;
}

/*會員頁面*/
.profileBlock {
  padding: 145px 0 120px;
}

.profileContent {
  width: 600px;
  padding: 100px 30px 30px;
  border: solid 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
  text-align: center;
}

.profileImgBlock {
  height: 150px;
  width: 150px;
  background-image: url(../img/navbar/MemberLoginIcon.svg);
  background-color: #BBBBBB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 0px;
  border-radius: 100%;
}

.profileName {
  text-align: center;
  color: #1d1d1d;
}

.profileBirth {
  font-weight: 300px;
}

.profileIntro {
  margin: 20px 0 30px;
}

.profileBlock .editProfile button.btn, .profileBlock .logout button.btn {
  width: 100%;
}

/*編輯會員頁面*/
.profileEditContent {
  width: 1000px;
  padding: 30px 30px 30px 10px;
}

.profileImagesUpload {
  position: relative;
}

.profileBannerEdit {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-image: url(../img/aboutusbg.jpg);
  background-color: #BBBBBB;
  border-radius: 10px 10px 0 0;
}

.uploadBannerBlock {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 90px;
  overflow: hidden;
}

.profileImg {
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mb100 {
  margin-bottom: 100px;
}

.profileImgEdit {
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/navbar/MemberLoginIcon.svg);
  background-color: #BBBBBB;
  border-radius: 100%;
  margin: 0 auto;
}

.uploadImgBlock {
  width: 90px;
  margin: 10px auto 0;
  overflow: hidden;
}

.uploadImg::-webkit-file-upload-button {
  background: #FFF;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  color: #1d1d1d;
  cursor: pointer;
  padding: 4px 12px;
}
.uploadImg::-webkit-file-upload-button:hover {
  background: #1d1d1d;
  border: 1px solid #1d1d1d;
  color: #FFF;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.profileEditMenu ul {
  padding: 0;
}
.profileEditMenu li {
  list-style: none;
  padding: 8px 0 8px 10px;
  margin-left: 10px;
  border-bottom: 1px solid #BBBBBB;
}
.profileEditMenu .pdt0 {
  padding-top: 0;
}
.profileEditMenu .active {
  color: #836fff;
}

.mbmenu {
  display: none;
}

.passwordSendIcon {
  width: 300px;
  display: block;
  margin: 20px auto 15px;
}

.editBlock {
  margin-top: 10px;
}

.btn-dark {
  background-color: #1d1d1d;
}
.btn-dark:hover {
  background-color: #000000;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.btn-outline-dark {
  background-color: #FFF;
}
.btn-outline-dark:hover {
  background-color: #1d1d1d;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/*條款頁面*/
.termsBannerTitle {
  font-size: 80px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 400;
}

.termsBannerSubTitle {
  font-size: 36px;
  margin: 0;
  padding: 0;
  color: #fff;
}

#terms #bannersection {
  position: relative;
}
#terms #bannersection .termsContain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-image: url(../img/aboutusbg.jpg);
  opacity: 1;
  margin-bottom: 30px;
}
#terms #bannersection .termsContain:after {
  height: 100%;
  width: 100%;
  content: "";
  display: blcok;
  position: absolute;
  z-index: 1;
  background-color: rgba(16, 16, 15, 0.5);
}
#terms #bannersection .termsContain .termsTitleControl {
  position: relative;
  z-index: 2;
  text-align: center;
}

@media (max-width: 1050px) {
  .container {
    max-width: 100%;
  }

  .formContent, .profileContent {
    width: 500px;
  }

  .profileEditContent {
    width: 95%;
  }

  .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 767px) {
  .formContent {
    width: 100%;
  }

  #slider .swiper-slide {
    font-size: 10px;
  }
  #slider .swiper-slide .swiper-button-next, #slider .swiper-slide .swiper-button-prev, #slider .swiper-slide .pcbanner {
    display: none;
  }
  #slider .swiper-slide .mbbanner {
    display: block;
  }

  #youtubepost .swiper-button-next, #youtubepost .swiper-button-prev {
    display: none;
  }
  #youtubepost .saveBlock {
    right: 10px;
    bottom: 24px;
  }

  /*九大分類區塊*/
  .categoryBlock, .categoryListBlock {
    margin-top: 30px;
  }

  /*九大分類標題*/
  .categoryTitle {
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    margin: 0px 10px 10px 0px;
  }

  .categorySubTitle {
    font-size: 16px;
  }

  /*文章卡片區塊*/
  .postCard {
    height: 100%;
  }
  .postCard:hover {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
  .postCard:hover .postImage:hover {
    border-radius: 0;
  }

  .postCard430, .postCard590 {
    position: static;
  }

  .postCard-first, .postCard-other {
    margin-bottom: 20px;
  }

  .postCard-content {
    padding: 0;
  }

  .postCard-first {
    padding: 0;
  }
  .postCard-first .postCard .postImage450 {
    height: 300px;
  }
  .postCard-first .postCard .postContent {
    padding: 0px 10px;
  }

  .postCard-other .postCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #BBBBBB;
  }
  .postCard-other .postCard .postImage {
    -webkit-box-flex: 30%;
    -ms-flex: 30%;
    flex: 30%;
    height: 120px;
    width: 120px;
  }
  .postCard-other .postCard .postContent {
    -webkit-box-flex: 70%;
    -ms-flex: 70%;
    flex: 70%;
    margin-left: 10px;
  }

  .postCard-Content {
    display: none;
  }

  .categoryLessBlock .postCard-other:nth-child(n+5) {
    display: block;
  }

  .categoryBlock .postCard-other:nth-child(n+7), .categoryLessBlock .postCard-other:nth-child(n+7) {
    display: none;
  }

  .categoryMoreBlock .postCard-other {
    display: block;
  }

  #posts > .container:not(:first-child) {
    margin-top: 20px;
  }

  .shadow2:hover {
    -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  .postCardCalc1 {
    height: calc(100% + 10px);
  }

  /*文章標題*/
  .postTitle-first {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.5px;
  }

  .metaBlock {
    position: static;
    display: inline-block;
  }

  .saveBlock {
    display: inline-block;
    right: 0px;
    bottom: initial;
  }

  .collectionSaveBlock {
    right: 10px;
  }

  .postCard-first .saveBlock {
    right: 9px;
  }

  #youtubepost .metaBlock {
    position: absolute;
    bottom: 20px;
    left: 0;
  }

  .meta {
    font-size: 12px;
    margin-bottom: 0;
  }

  /*文章內頁*/
  .postContentImage {
    margin: 0 0 30px;
  }
  .postContentImage iframe {
    height: 250px;
  }

  .postContentTitleBlock {
    margin: 0 10px 10px;
  }

  /*互動按鈕*/
  .postContentInteractive {
    text-align: left;
  }

  .likeButton, .commentButton, .saveButton, .shareButton {
    font-size: 14px;
    padding: 5px 10px;
    margin: 0 2px;
    -webkit-appearance: none;
  }
  .likeButton span, .commentButton span, .saveButton span, .shareButton span {
    margin-left: 5px;
  }
  .likeButton:before, .commentButton:before, .saveButton:before, .shareButton:before {
    width: 12px;
    height: 11px;
    margin-right: 5px;
  }

  .shareButton {
    position: absolute;
    right: 10px;
  }

  /*社群分享*/
  #shareModal .copyLink, #shareModal .copyLinkBtn, #memberInvite .copyLink, #memberInvite .copyLinkBtn {
    width: 100%;
  }
  #shareModal .copyLinkBtn, #memberInvite .copyLinkBtn {
    margin-top: 8px;
  }

  /*作者區塊*/
  .postAuthorBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 15px;
  }

  .postAuthorImageBlock {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }

  .postAuthorImage {
    width: 160px;
    height: 160px;
  }

  .postAuthorContent {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    margin-left: 0px;
    text-align: center;
  }

  .postAuthorTitle {
    margin-top: 20px;
  }

  /*留言區塊*/
  .commentSection {
    margin-bottom: 20px;
  }

  .commentImage {
    height: 50px;
    width: 50px;
  }

  .commentLine:before {
    height: calc(100% - 50px);
    left: 25px;
    top: 60px;
  }

  .commentUser {
    margin-left: 10px;
    width: calc(100% - 50px);
  }

  .commentAuthorName {
    font-size: 18px;
  }

  .commentReplySection {
    margin-top: 15px;
  }
  .commentReplySection:first-child {
    margin-top: 15px;
  }
  .commentReplySection .commentImage {
    height: 40px;
    width: 40px;
  }
  .commentReplySection .commentAuthorName {
    font-size: 18px;
  }
  .commentReplySection .commentTime {
    padding-bottom: 10px;
  }

  .commentbtn {
    margin-top: 10px;
  }
  .commentbtn:before, .commentbtn:after {
    width: 38%;
  }

  .commentEdit {
    top: -5px;
  }

  .commentFormControl {
    margin-top: 10px;
  }

  .btnEdit {
    width: 100%;
  }

  /*查看更多按鈕*/
  .postbtn:before, .postbtn:after {
    width: 38%;
  }

  /*廣告區塊*/
  .advertiseBlock {
    margin-top: 20px;
  }
  .advertiseBlock img {
    width: 100%;
  }

  .postAdvertise {
    display: none;
  }

  .mt0 {
    margin-top: 0px;
  }

  /*表單*/
  .formBlock {
    background-color: #E5E5E5;
    padding: 60px 10px 100px;
  }

  .formContent {
    width: 100%;
    padding: 0 10px 15px;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }

  .loginOther .container.containerForm {
    margin-top: 30px;
  }

  /*搜尋頁面*/
  .searchTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .searchFailBlock .searchFailEng {
    font-size: 80px;
    margin: 60px 0;
  }

  /*會員頁面*/
  .profileBlock {
    padding: 145px 10px 100px;
  }

  .profileContent {
    padding: 100px 15px 15px;
  }

  .profileBlock .editProfile button.btn, .profileBlock .logout button.btn {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .profileEditContent .pcmenu {
    display: none;
  }
  .profileEditContent .mbmenu {
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #BBBBBB;
  }
  .profileEditContent #dropdownProfileMenu {
    width: 100%;
    border-radius: 0;
    -moz-text-align-last: right;
    text-align-last: right;
  }
  .profileEditContent .btnLightGray {
    color: #BBBBBB;
  }
  .profileEditContent .btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .profileEditContent .active {
    color: #836fff;
  }
  .profileEditContent .dropdown-menu {
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.15);
  }
  .profileEditContent li {
    padding: 0;
    margin-left: 0px;
    border-bottom: 1px solid #BBBBBB;
  }
  .profileEditContent li:last-child {
    border-bottom: 0px;
  }
  .profileEditContent .dropdown-item {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .profileEditContent .dropdown-item:hover {
    background-color: #fff;
    color: #836fff;
  }

  .dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }

  .passwordSendIcon {
    width: 50%;
    display: block;
    margin: 20px auto 15px;
  }

  .searchFailSubTilte {
    line-height: 1.4;
  }

  .editBlock {
    margin-top: 10px;
  }

  /*條款頁面*/
  #terms #bannersection .termsContain {
    height: 300px;
  }
  #terms #bannersection .termsBannerTitle {
    font-size: 54px;
    line-height: 70px;
  }
  #terms #bannersection .termsBannerSubTitle {
    font-size: 28px;
  }
}