doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 變更密碼 - Togayther
    meta(name='description' content='我們是由together(⼀起)和gay(同性戀)組合⽽成，TOGAYTHER是互聯網，也是⽀援網，期待在此成為 陪伴同志⼀起的 ⽣活新平台')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(rel='stylesheet' href='./css/style.css')
  body
    // partial:index.partial.html
    .formBlock
      .container.formContent.profileEditContent
        .dropdown.mbmenu
          a#dropdownProfileMenu.btn.dropdown-toggle.btnLightGray(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false') 變更密碼
          ul.dropdown-menu(aria-labelledby='dropdownMenuLink')
            li
              a.dropdown-item(href='#') 變更資料
            li
              a.dropdown-item(href='#') 我的帳戶
        .row
          .col-md-2.profileEditMenu
            ul.pcmenu
              li.pdt0.active  變更密碼
              li
                a(href='')  變更資料
              li
                a(href='')  我的帳戶
          .col-md-10
            h2.categoryTitle 變更密碼
            span.categorySubTitle CHANGE PASSWORDS
            .registerBlock.editBlock
              form.g-3.needs-validation(novalidate='' oninput="passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? '密碼不一致' : '')")
                .form-row
                  .mb-3.col-12
                    label.form-label(for='InputPassword PasswordValidation') 目前的密碼
                    input#inputPassword.form-control(type='password' name='password' placeholder='請輸入目前的密碼' required='required' aria-label='密碼' minlength='8' maxlength='20')
                    .invalid-feedback 此題為必填
                  .mb-3.col-12
                    label.form-label(for='InputPassword PasswordValidation') 新密碼
                    input#inputPassword.form-control(type='password' name='password' placeholder='請輸入8-20字的新密碼' required='required' aria-label='密碼' minlength='8' maxlength='20')
                    .invalid-feedback 此題為必填
                  .mb-3.col-12
                    label.form-label(for='InputPasswordConfirm PasswordConfirmValidation') 新密碼確認
                    input#inputPasswordConfirm.form-control(type='password' name='passwordConfirm' placeholder='請再次輸入8-20字的新密碼' required='required' aria-label='驗證密碼' minlength='8' maxlength='20')
                    .invalid-feedback 密碼不一致
                  .mb-3.col-12
                    button.btn.btn-dark(type='submit') 確定修改
    .advertiseBlock.mt0
      .container
        .row
          .col-md-12.adv02
            a(href='')
              img(src='./img/adv02.jpg' alt='')
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='./js/form.js')
