doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(rel='stylesheet' href='./css/footer.css')
  body
    // partial:index.partial.html
    #footer
      .container
        .logo
          a(href='https://togayther.com/')
            img(src='./img/LogoWhite.svg' alt='')
        .hr
        .contact
          a(href='mailto:togayther2021@gmail.com')
            h5.footer.mail togayther2021@gmail.com
          a(href='https://goo.gl/maps/sADf4ufqF5WPdfiS6' targer='_blank')
            h5.footer.address 台北市信義區基隆路一段206號14樓1403室
        .hr
        .menu
          a(href='https://172.105.197.152/#aboutus')
            h5.footer 關於我們
          a(href='')
            h5.footer 品牌活動
          a(href='')
            h5.footer 友善店家
        .copyrightbar
          h6.copyright Copyright © 2021 給力信息科技有限公司 所有，並保留一切權利。
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js')
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
