doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 會員登入 - Togayther
    meta(name='description' content='我們是由together(⼀起)和gay(同性戀)組合⽽成，TOGAYTHER是互聯網，也是⽀援網，期待在此成為 陪伴同志⼀起的 ⽣活新平台')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(property='og:image' content='./img/ogimage.jpg')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(rel='stylesheet' href='./css/style.css')
  body
    // partial:index.partial.html
    .formBlock
      .container.formContent
        .categoryBlock
          .container.containerForm
            .row
              .col-md-12
                h2.categoryTitle 會員登入
                span.categorySubTitle SIGN IN
        .loginBlock
          .container.containerForm
            form.g-3.needs-validation(novalidate='')
              .mb-3
                label.form-label(for='InputAccount AccountValidation') 帳號
                input#inputAccount.form-control(type='email' placeholder='請輸入您的電子信箱帳號' required='required')
                .invalid-feedback 帳號錯誤
              .mb-3
                label.form-label(for='InputPassword PasswordValidation') 密碼
                input#inputPassword.form-control(type='password' placeholder='請輸入您的密碼' required='required')
                .invalid-feedback 密碼錯誤
              .form-check.KeepLogin
                input#inputCheck.form-check-input(type='checkbox')
                label.form-check-label 保持登入
              button.btn.btn-dark(type='submit') 登入
        .socialLogin
          .container.containerForm
            a.facebookLoginLink(href='')

              //20220327 更改文字 FACEBOOK 登入 -> 使用Facebook帳號登入
              .facebookLogin 使用Facebook帳號登入
            a.instagramLoginLink(href='')
              .instagramLogin INSTAGRAM 登入
        .loginOther
          .container.containerForm
            .row
              .col-6
                a.forgotPassWord(href='') 忘記密碼
              .col-6
                a.register(href='') 立即註冊
    .advertiseBlock.mt0
      .container
        .row
          .col-md-12.adv02
            a(href='')
              img(src='./img/adv02.jpg' alt='')
    // partial
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js')
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='./js/form.js')
