doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 社群首頁 - Togayther
    meta(name='description' content='我們是由together(⼀起)和gay(同性戀)組合⽽成，TOGAYTHER是互聯網，也是⽀援網，期待在此成為 陪伴同志⼀起的 ⽣活新平台')
    meta(property='og:image' content='./img/ogimage.jpg')
    link(rel='icon' href='./img/favicon.svg' type='image/x-icon')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(property='og:image' content='./img/ogimage.jpg')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap')
    link(rel='stylesheet' href='https://unpkg.com/swiper@7/swiper-bundle.min.css')
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/member.css')
    link(rel='stylesheet' href='./css/style-social.css')
  body.social
    #social-index

      //手機版精選會員-社群第二階段開放
      //20220330 d-tb-none->d-lg-none
      .social-index-featured-member.d-block.d-lg-none(style="margin-left: 8px;")
        .swiper.mySwiper.social-index-featured-member-swiper
          .swiper-wrapper
            .swiper-slide.social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="") 

                //串接精選會員的圖片
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS
            .swiper-slide.social-index-featured-member-block
              a(href="") 
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
                .social-index-featured-member-name SANDERS

      //社群頁標題
      .container
        .row
          //20220330 新增.px-mb-4px
          .col-lg-9.col-md-12.px-mb-4px
            .social-index-title-block
              h2.social-index-title 社群
              .social-index-title-line
              h2.social-index-title SOCIAL
              .social-index-title-hr

            //動態文章顯示區塊
            .social-index-grid
              .social-index-grid-item

                .social-post-card
                  .social-post-card-media
                    img.social-post-card-image(src="https://i.pinimg.com/236x/7f/24/8c/7f248c9e18abe79de0d6c79617e03361.jpg", alt="")
                  .socail-post-card-content

                    //對應到編輯器的標題欄位
                    //20220331 因要點標題進入文章內頁，故把h3.social-post-card-title -> a.social-post-card-title(href="")
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉，我們喝的不只酒、我們看的都是肉！

                    //20220331新增.social-post-card-meta-section 把.social-post-card-author-block和.social-post-card-like 都推進.social-post-card-meta-section裡面
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")

                        //抓取該篇動態文章作者的會員大頭像
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")

                        //抓取該篇動態文章作者的會員名稱
                        span.social-post-card-author SANDERS Cheng Granger

                      //此處為讓使用者按喜歡與收回喜歡區塊
                      .social-post-card-like

                        //此class為尚未按喜歡前顯示
                        .social-post-card-unlike-btn.bg-basic

                        //此數字為共有多少其他使用者按過喜歡
                        span.social-post-card-like-count 99
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media

                    //當該篇動態文章的圖片超過兩張時會顯示此圖示
                    img.social-post-card-image-plural(src="./img/image_plural_fill_black_white.svg", alt="")

                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")
                  .socail-post-card-content

                    //為第二階段開發追蹤功能後開始顯示，當使用者有追蹤該篇動態文章的作者時，會顯示我的追蹤，並放上使用者的圖片與名稱
                    .social-post-card-follow-block
                      img.social-post-card-follow-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                      span.social-post-card-follow 你的追蹤
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media

                    //當該篇動態文章是影片的話會顯示此圖片
                    img.video_play_fill_black_white(src="./img/video_play_fill_black_white.svg", alt="")

                    //2022/03/18新增此圖片，而顯示圖片為使用者上傳的影片預覽圖
                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")

                    //2022/03/18註解掉影片連結，只顯示影片預覽圖
                    //影片預覽圖，截取使用者影片一開始的畫面當做影片預覽圖
                      video.social-post-card-video(controls='' poster='https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.mp4' type='video/mp4')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.webm' type='video/webm')
                        | Sorry, your browser doesn't support embedded videos.
                  .socail-post-card-content
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media
                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")
                  .socail-post-card-content
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media

                    //當該篇動態文章是影片的話會顯示此圖示
                    img.social-post-card-image-plural(src="./img/video_play_fill_black_white.svg", alt="")

                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")

                    //
                      video.social-post-card-video(controls='' poster='https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.mp4' type='video/mp4')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.webm' type='video/webm')
                        | Sorry, your browser doesn't support embedded videos.
                  .socail-post-card-content
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99
              .social-index-grid-item
                  //2022/03/18新增點選後進入該新會員的個人頁面
                  a(href="") 
                    .social-post-card.social-post-card-member-block
                      span.social-post-card-member-title 新會員
                      .member-profile.shadow.rounded.text-center.pb-2
                        .avatar.mb-4.social-post-card-member-image-block
                          div(style='height: 150px; background-image: url(./img/accountBanner.jpg); background-size: cover;     background-position: center;')
                          .avatar-pic.rounded-circle.social-post-card-member-image
                            .rounded-circle.w-100.h-100(style='background-image: url(./img/navbar/MemberLoginIcon.svg); background-size: cover;')
                        h2.member-name.title.social-post-card-member-name Sanders
                        .member-message.px-3.mb-4.social-post-card-member-name-description.ellipsis
                          | 在多次受傷之後，我們數度懷疑自己是否失去了愛人的能力，殊不知我們真正失去的，是重新認識與接納自己的勇氣。 經歷了幾段感情，念了一些書籍，發現了解與頓悟總
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media

                    //當該篇動態文章是影片的話會顯示此圖示
                    img.social-post-card-image-plural(src="./img/video_play_fill_black_white.svg", alt="")

                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")
                    //
                      video.social-post-card-video(controls='' poster='https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.mp4' type='video/mp4')
                        source(src='http://s1.mi.com/zt/14072201/sh-v-4.webm' type='video/webm')
                        | Sorry, your browser doesn't support embedded videos.
                  .socail-post-card-content
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99
              .social-index-grid-item
                a(href="")
                  .social-post-card.social-post-card-member-block
                    span.social-post-card-member-title 新會員
                    .member-profile.shadow.rounded.text-center.pb-2
                      .avatar.mb-4.social-post-card-member-image-block

                        //顯示新會員，會員資料內的封面圖片
                        div(style='height: 150px; background-image: url(./img/accountBanner.jpg); background-size: cover;     background-position: center;')

                        //顯示新會員，會員資料內的大頭像
                        .avatar-pic.rounded-circle.social-post-card-member-image
                          .rounded-circle.w-100.h-100(style='background-image: url(./img/navbar/MemberLoginIcon.svg); background-size: cover;')

                      //顯示新會員，會員資料內的名稱
                      h2.member-name.title.social-post-card-member-name Sanders

                      //顯示新會員，會員資料內的自我介紹
                      .member-message.px-3.mb-4.social-post-card-member-name-description.ellipsis
                        | 在多次受傷之後，我們數度懷疑自己是否失去了愛人的能力，殊不知我們真正失去的，是重新認識與接納自己的勇氣。 經歷了幾段感情，念了一些書籍，發現了解與頓悟總
              .social-index-grid-item
                .social-post-card
                  .social-post-card-media
                    img.social-post-card-image(src="https://i.pinimg.com/236x/a6/cd/0a/a6cd0a15d5b2909539dd7944201127d2.jpg", alt="")
                  .socail-post-card-content
                    a.social-post-card-title(href="") 我們喝的不只酒、我們看的都是肉！
                    .social-post-card-meta-section
                      a.social-post-card-author-block(href="")
                        img.social-post-card-author-pic(src="./img/navbar/MemberLoginIcon.svg", alt="")
                        span.social-post-card-author SANDERS
                      .social-post-card-like
                        .social-post-card-like-btn.bg-basic
                        span.social-post-card-like-count 99

            //當使用者動態文章滑到底的時候顯示
            .social-index-title-block.justify-content-center.mt-8px
              .social-post-bottom-hr
              p.social-post-bottom 已滑到底部
              .social-post-bottom-hr

          //電腦版精選會員-社群第二階段開放
          //20220330 d-tb-block->.d-lg-block
          .col-lg-3.d-lg-block.d-none(style="padding-left: 0px")
            .social-index-user-block

              //連結使用者的個人主頁
              a(href="")

                //串接使用者的大頭照
                img.social-index-user-img(src="./img/navbar/MemberLoginIcon.svg", alt="")
              .social-index-user-data

                //串接使用者的名稱
                .social-index-user-name SANDERS

                //串接使用者的生日，未填寫隱藏
                .social-index-user-birthday 1996/01/01

              //連結使用者的個人主頁
              a.btn-social-index-user-personal-page(href="") 查看

            .social-index-featured-member-block-title 活躍用戶
            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤


            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

            .social-index-featured-member-block

              //連結精選會員的個人主頁
              a(href="")

                //串接精選會員的大頭照
                img.social-index-featured-member-img(src="./img/navbar/MemberLoginIcon.svg", alt="")

              .social-index-featured-member-data

                //串接精選會員的名稱
                .social-index-featured-member-name SANDERS

              //追蹤該精選會員，根據使用者的追蹤狀態顯示相對應的按鈕，並且可以在此區塊直接點選追蹤或取消追蹤
              a.btn-social-index-featured-member-unfollow(href="") 追蹤
              a.btn-social-index-featured-member-follow(href="") 已追蹤

    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js' integrity='sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js' integrity='sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ' crossorigin='anonymous')
    script(src='https://unpkg.com/swiper@7/swiper-bundle.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    script(src='https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js')
    script(src='./js/social.js')